
<div class="container">
    <div class="media-footer">
    <div *ngIf="audio?.duration">
        <p>
            {{ currentTime$ | async }}
        </p>   
    </div>
    <div >
        <p class="" >
            {{ durationTime }}
        </p>      
    </div>
    <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': (currentProgress$ | async) + '%'}" [attr.aria-valuenow]="(currentProgress$ | async) "
              aria-valuemin="0" aria-valuemax="100">
    </div>

    <div>
        <button class="btn btn-outline-dark" (click)="playSong(song)">Play</button>
        <button class="btn btn-outline-dark" (click)="pauseSong()">Pause</button>
        <button class="btn btn-outline-dark" (click)="stopSong()">Stop</button>
    </div>
</div>