<div class="form-group input-group mb-3">
    <p class="input-group-text">Buscar canción por género:</p>
    <input type="text" class="forms-control form-control" placeholder="Buscar..." [(ngModel)]="filtersong" name="filtersong"/>
</div>
<h2 id="song-list-title">Lista de Canciones</h2>
<div class="container">
    <div>
        <mat-action-list class="list-group">
          <mat-list-item *ngFor="let song of songs | filter: filtersong" class="padding-bottom list-group-item waves-light">
              <span mat-line class="badge">{{song.title}}</span>
              <p mat-line>{{song.author}}</p>
              <div mat-line (click)="onSelect(song)">
                  <span mat-line> Más detalles >></span>
                  <app-reproducer mat-line [song]=song></app-reproducer>
              </div>
          </mat-list-item>
        </mat-action-list>
    </div>

    <div *ngIf="selectedSong && status" id="song-details" class="p-4">
        <h2>Detalles de {{selectedSong.title | uppercase}}</h2>
        <form>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Id</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{selectedSong.id}}">
              </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{selectedSong.title}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Author</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{selectedSong.author}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Year</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{selectedSong.year}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Disc</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{selectedSong.disc}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Style</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{selectedSong.style}}">
                </div>
            </div>
          </form>
    </div>
</div>

