.padding-bottom {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.container {
    display: flex;
    place-content: center;
}

#song-list {
    padding-right: 20px;
}

#song-details {
  border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  height: 439px;
  color: white;
}

#song-list-title{
    display: flex;
    place-content: center;
}

.badge {
    font-weight: bold;
}

.mat-list-base .mat-list-item  {
  color: black!important;
}

.mat-card {
  color: white!important;
}

h2 {
  color: white;
}

.form-control-plaintext {
  color: white!important;
}

.form-search {
  min-width: 150px;
  text-align-last: center;
  width: 100%;
  background-color: black;
  color: white;
  padding: 15px
}

