<form class="form-search">
  <mat-form-field appearance="standard">
    <mat-label>Buscar canción por género:</mat-label>
    <input matInput type="text" [(ngModel)]="filtersong" name="filtersong"/>
  </mat-form-field>
</form>


<h2 id="song-list-title">Lista de Canciones</h2>
<div class="container">
    <div>
        <mat-action-list class="list-group">
          <mat-list-item *ngFor="let song of songs | filter: filtersong" class="padding-bottom list-group-item waves-light">
              <span mat-line class="badge">{{song.title}}</span>
              <p mat-line>{{song.author}}</p>
              <div mat-line (click)="onSelect(song)">
                  <span mat-line> Más detalles >></span>
                  <app-reproducer mat-line [song]=song></app-reproducer>
              </div>
          </mat-list-item>
        </mat-action-list>
    </div>

    <mat-card *ngIf="selectedSong && status" id="song-details" class="p-4">
        <h2>Detalles de {{selectedSong.title | uppercase}}</h2>
        <form>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Id</label>
              <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" value="{{selectedSong.id}}">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value="{{selectedSong.title}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Author</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value="{{selectedSong.author}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Year</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value="{{selectedSong.year}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Disc</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value="{{selectedSong.disc}}">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Style</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" value="{{selectedSong.style}}">
                </div>
            </div>
          </form>
    </mat-card>
</div>

